# County Market Tracker Data Exploration

Loading and exploring county-level housing market data.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

print("✓ Libraries loaded")

✓ Libraries loaded

Loading county_market_tracker.tsv000...
File size: 363MB, ~563K rows

✓ Loaded sample: 1000 rows
✓ Columns: 58

Column names:
['period_begin', 'period_end', 'period_duration', 'region_type', 'region_type_id', 'table_id', 'is_seasonally_adjusted', 'region', 'city', 'state', 'state_code', 'property_type', 'property_type_id', 'median_sale_price', 'median_sale_price_mom', 'median_sale_price_yoy', 'median_list_price', 'median_list_price_mom', 'median_list_price_yoy', 'median_ppsf', 'median_ppsf_mom', 'median_ppsf_yoy', 'median_list_ppsf', 'median_list_ppsf_mom', 'median_list_ppsf_yoy', 'homes_sold', 'homes_sold_mom', 'homes_sold_yoy', 'pending_sales', 'pending_sales_mom', 'pending_sales_yoy', 'new_listings', 'new_listings_mom', 'new_listings_yoy', 'inventory', 'inventory_mom', 'inventory_yoy', 'months_of_supply', 'months_of_supply_mom', 'months_of_supply_yoy', 'median_dom', 'median_dom_mom', 'median_dom_yoy', 'avg_sale_to_list', 'avg_sale_to_list_mom', 'avg_sale_to_list_yoy', 'sold_above_list', 'sold_above_list_mom', 'sold_above_list_yoy', 'price_drops', 'price_drops_mom', 'price_drops_yoy', 'off_market_in_two_weeks', 'off_market_in_two_weeks_mom', 'off_market_in_two_weeks_yoy', 'parent_metro_region', 'parent_metro_region_metro_code', 'last_updated']

First few rows:

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2017-04-01,2017-04-30,30,county,5,170,f,"Morgan County, AL",NaN,Alabama,...,-0.069595,NaN,NaN,NaN,0.020833,0.020833,0.001225,"Decatur, AL",19460.0,2022-01-09 14:29:56
1,2014-12-01,2014-12-31,30,county,5,1457,f,"Hennepin County, MN",NaN,Minnesota,...,-0.098136,0.097744,-0.121909,-0.197220,0.172414,0.034483,-0.033469,"Minneapolis, MN",33460.0,2022-01-09 14:29:56
2,2018-02-01,2018-02-28,30,county,5,2319,f,"Tulsa County, OK",NaN,Oklahoma,...,-0.024840,0.206004,-0.026139,0.009313,0.479924,0.068277,-0.042568,"Tulsa, OK",46140.0,2022-01-09 14:29:56
3,2017-08-01,2017-08-31,30,county,5,1448,f,"Crow Wing County, MN",NaN,Minnesota,...,NaN,0.200000,-0.050000,NaN,NaN,NaN,NaN,"Brainerd, MN",14660.0,2022-01-09 14:29:56
4,2019-05-01,2019-05-31,30,county,5,1586,f,"Tate County, MS",NaN,Mississippi,...,0.107895,NaN,NaN,NaN,0.000000,-0.111111,-0.100000,"Memphis, TN",32820.0,2022-01-09 14:29:56

Loading full dataset...

✓ Loaded: 563,122 rows, 58 columns
✓ Memory usage: 527.6 MB

Date range: 2012-01-01 to 2021-12-31
States: 47 unique states
Counties: 1860 unique counties
Property types: ['All Residential' 'Multi-Family (2-4 Unit)' 'Condo/Co-op'
 'Single Family Residential' 'Townhouse']

SUMMARY STATISTICS:

Key variables:
       median_sale_price  median_list_price     homes_sold      inventory  \
count       5.624370e+05       5.192020e+05  562443.000000  540216.000000
mean        2.048567e+05       2.320302e+05     121.353410     421.794199
std         1.506078e+06       1.969332e+06     347.492394    1118.946608
min         1.000000e+00       1.000000e+02       1.000000       1.000000
25%         1.150000e+05       1.399000e+05       4.000000      21.000000
50%         1.637500e+05       1.899000e+05      18.000000      85.000000
75%         2.385000e+05       2.699500e+05      80.000000     331.000000
max         1.000000e+09       1.000000e+09    9186.000000   26655.000000

       months_of_supply
count     548158.000000
mean           5.701756
std            6.403006
min            0.000000
25%            2.500000
50%            4.200000
75%            7.000000
max          874.000000

Available California counties (sample):
['Solano County, CA' 'San Mateo County, CA' 'Butte County, CA'
 'Alameda County, CA' 'San Diego County, CA' 'Placer County, CA'
 'Ventura County, CA' 'San Luis Obispo County, CA' 'Santa Cruz County, CA'
 'Sacramento County, CA' 'Santa Barbara County, CA'
 'Contra Costa County, CA' 'Stanislaus County, CA' 'San Benito County, CA'
 'Fresno County, CA' 'Riverside County, CA' 'Yolo County, CA'
 'Santa Clara County, CA' 'Kern County, CA' 'Yuba County, CA']

✓ Found 1,200 rows for LA/Orange counties
Unique county names found:
['Orange County, CA' 'Los Angeles County, CA']

================================================================================
LOS ANGELES AND ORANGE COUNTY DATA
================================================================================

Shape: (1200, 58)

Date range: 2012-01-01 00:00:00 to 2021-12-31 00:00:00

Property types: ['Condo/Co-op' 'Single Family Residential' 'Multi-Family (2-4 Unit)'
 'Townhouse' 'All Residential']

================================================================================
FIRST 20 ROWS:
================================================================================
      period_begin                  region       state  \
2112    2021-11-01       Orange County, CA  California
6527    2017-09-01  Los Angeles County, CA  California
6706    2013-11-01  Los Angeles County, CA  California
6954    2014-05-01  Los Angeles County, CA  California
7086    2020-03-01  Los Angeles County, CA  California
9529    2016-05-01  Los Angeles County, CA  California
9710    2019-03-01       Orange County, CA  California
10550   2018-11-01       Orange County, CA  California
12664   2014-05-01       Orange County, CA  California
12665   2018-02-01  Los Angeles County, CA  California
12922   2015-07-01  Los Angeles County, CA  California
13295   2017-02-01       Orange County, CA  California
15068   2016-08-01  Los Angeles County, CA  California
15341   2018-07-01  Los Angeles County, CA  California
15825   2012-05-01  Los Angeles County, CA  California
16036   2013-02-01  Los Angeles County, CA  California
16941   2012-07-01       Orange County, CA  California
17144   2014-11-01       Orange County, CA  California
18149   2015-10-01  Los Angeles County, CA  California
18616   2017-01-01  Los Angeles County, CA  California

                   property_type  median_sale_price  median_list_price  \
2112                 Condo/Co-op           600000.0           910000.0
6527   Single Family Residential           615000.0           599000.0
6706     Multi-Family (2-4 Unit)           430000.0           440000.0
6954                 Condo/Co-op           373750.0           499900.0
7086   Single Family Residential           700000.0           698000.0
9529                   Townhouse           450000.0           560000.0
9710     Multi-Family (2-4 Unit)          1210000.0           759000.0
10550            All Residential           700000.0           699900.0
12664                  Townhouse           431000.0           605000.0
12665                Condo/Co-op           479500.0           639000.0
12922                Condo/Co-op           397000.0           529000.0
13295    Multi-Family (2-4 Unit)           982750.0           709947.5
15068    Multi-Family (2-4 Unit)           617500.0           544900.0
15341                Condo/Co-op           500000.0           637000.0
15825                Condo/Co-op           245000.0           369000.0
16036    Multi-Family (2-4 Unit)           380000.0           410000.0
16941    Multi-Family (2-4 Unit)           615000.0           472000.0
17144                  Townhouse           425000.0           580000.0
18149    Multi-Family (2-4 Unit)           563000.0           538000.0
18616                  Townhouse           500000.0           564992.5

       homes_sold  inventory  months_of_supply
2112        750.0      775.0               1.0
6527       4616.0    12201.0               2.6
6706        381.0     1337.0               3.5
6954       1006.0     2407.0               2.4
7086       3557.0     9218.0               2.6
9529        508.0      889.0               1.8
9710         37.0      232.0               6.3
10550      2069.0     8141.0               3.9
12664       182.0      294.0               1.6
12665       733.0     1948.0               2.7
12922      1226.0     2673.0               2.2
13295        40.0      164.0               4.1
15068       468.0     1887.0               4.0
15341      1127.0     2592.0               2.3
15825      1156.0     3206.0               2.8
16036       374.0     1038.0               2.8
16941        42.0      152.0               3.6
17144       157.0      389.0               2.5
18149       399.0     2001.0               5.0
18616       332.0      856.0               2.6

================================================================================
SUMMARY STATISTICS BY COUNTY
================================================================================

Orange County, CA:
  Rows: 600
  Date range: 2012-01-01 00:00:00 to 2021-12-31 00:00:00

  Key Statistics (excluding NaN):
    median_sale_price:
      Mean: $665,883
      Min: $227,750
      Max: $1,709,318
      Non-null values: 600 of 600
    median_list_price:
      Mean: $673,802
      Min: $424,900
      Max: $922,000
      Non-null values: 600 of 600
    homes_sold:
      Mean: 1,042
      Min: 4
      Max: 3,573
      Non-null values: 600 of 600
    inventory:
      Mean: 2,609
      Min: 9
      Max: 9,659
      Non-null values: 600 of 600
    months_of_supply:
      Mean: 3
      Min: 1
      Max: 12
      Non-null values: 600 of 600
    median_ppsf:
      Mean: $366
      Min: $191
      Max: $578
      Non-null values: 600 of 600


Los Angeles County, CA:
  Rows: 600
  Date range: 2012-01-01 00:00:00 to 2021-12-31 00:00:00

  Key Statistics (excluding NaN):
    median_sale_price:
      Mean: $538,724
      Min: $230,000
      Max: $1,017,500
      Non-null values: 600 of 600
    median_list_price:
      Mean: $575,383
      Min: $326,764
      Max: $818,000
      Non-null values: 600 of 600
    homes_sold:
      Mean: 2,467
      Min: 152
      Max: 8,019
      Non-null values: 600 of 600
    inventory:
      Mean: 6,280
      Min: 314
      Max: 25,184
      Non-null values: 600 of 600
    months_of_supply:
      Mean: 3
      Min: 1
      Max: 10
      Non-null values: 600 of 600
    median_ppsf:
      Mean: $358
      Min: $156
      Max: $567
      Non-null values: 600 of 600

================================================================================
DATA PREVIEW - ALL COLUMNS
================================================================================

Total rows: 1,200
Total columns: 58

Column names:
   1. period_begin
   2. period_end
   3. period_duration
   4. region_type
   5. region_type_id
   6. table_id
   7. is_seasonally_adjusted
   8. region
   9. city
  10. state
  11. state_code
  12. property_type
  13. property_type_id
  14. median_sale_price
  15. median_sale_price_mom
  16. median_sale_price_yoy
  17. median_list_price
  18. median_list_price_mom
  19. median_list_price_yoy
  20. median_ppsf
  21. median_ppsf_mom
  22. median_ppsf_yoy
  23. median_list_ppsf
  24. median_list_ppsf_mom
  25. median_list_ppsf_yoy
  26. homes_sold
  27. homes_sold_mom
  28. homes_sold_yoy
  29. pending_sales
  30. pending_sales_mom
  31. pending_sales_yoy
  32. new_listings
  33. new_listings_mom
  34. new_listings_yoy
  35. inventory
  36. inventory_mom
  37. inventory_yoy
  38. months_of_supply
  39. months_of_supply_mom
  40. months_of_supply_yoy
  41. median_dom
  42. median_dom_mom
  43. median_dom_yoy
  44. avg_sale_to_list
  45. avg_sale_to_list_mom
  46. avg_sale_to_list_yoy
  47. sold_above_list
  48. sold_above_list_mom
  49. sold_above_list_yoy
  50. price_drops
  51. price_drops_mom
  52. price_drops_yoy
  53. off_market_in_two_weeks
  54. off_market_in_two_weeks_mom
  55. off_market_in_two_weeks_yoy
  56. parent_metro_region
  57. parent_metro_region_metro_code
  58. last_updated

================================================================================
SAMPLE DATA (First 10 rows, key columns):
================================================================================
      period_begin period_end                  region  city       state              property_type  median_sale_price  median_list_price  homes_sold  pending_sales  new_listings  inventory
2112    2021-11-01 2021-11-30       Orange County, CA   NaN  California                Condo/Co-op           600000.0           910000.0       750.0          671.0         548.0      775.0
6527    2017-09-01 2017-09-30  Los Angeles County, CA   NaN  California  Single Family Residential           615000.0           599000.0      4616.0         3981.0        5150.0    12201.0
6706    2013-11-01 2013-11-30  Los Angeles County, CA   NaN  California    Multi-Family (2-4 Unit)           430000.0           440000.0       381.0          412.0         471.0     1337.0
6954    2014-05-01 2014-05-31  Los Angeles County, CA   NaN  California                Condo/Co-op           373750.0           499900.0      1006.0         1169.0        1460.0     2407.0
7086    2020-03-01 2020-03-31  Los Angeles County, CA   NaN  California  Single Family Residential           700000.0           698000.0      3557.0         3161.0        4291.0     9218.0
9529    2016-05-01 2016-05-31  Los Angeles County, CA   NaN  California                  Townhouse           450000.0           560000.0       508.0          523.0         602.0      889.0
9710    2019-03-01 2019-03-31       Orange County, CA   NaN  California    Multi-Family (2-4 Unit)          1210000.0           759000.0        37.0           30.0          78.0      232.0
10550   2018-11-01 2018-11-30       Orange County, CA   NaN  California            All Residential           700000.0           699900.0      2069.0         1704.0        2094.0     8141.0
12664   2014-05-01 2014-05-31       Orange County, CA   NaN  California                  Townhouse           431000.0           605000.0       182.0          235.0         260.0      294.0
12665   2018-02-01 2018-02-28  Los Angeles County, CA   NaN  California                Condo/Co-op           479500.0           639000.0       733.0          812.0        1148.0     1948.0

In [11]:
df_filtered.tail()

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
559061,2017-12-01,2017-12-31,30,county,5,332,f,"Orange County, CA",NaN,California,...,0.061755,0.097738,-0.071807,-0.004519,0.150362,-0.000840,0.006612,"Anaheim, CA",11244.0,2022-01-09 14:29:56
559130,2020-03-01,2020-03-31,30,county,5,332,f,"Orange County, CA",NaN,California,...,0.089651,0.160494,0.047286,-0.011920,0.305556,0.025556,0.072222,"Anaheim, CA",11244.0,2022-01-09 14:29:56
559363,2021-11-01,2021-11-30,30,county,5,321,f,"Los Angeles County, CA",NaN,California,...,0.092874,0.138725,-0.025216,-0.009939,0.238734,0.002007,0.050202,"Los Angeles, CA",31084.0,2022-01-09 14:29:56
561176,2012-06-01,2012-06-30,30,county,5,321,f,"Los Angeles County, CA",NaN,California,...,0.056251,0.185976,-0.005912,-0.063188,0.442711,0.025101,0.127077,"Los Angeles, CA",31084.0,2022-01-09 14:29:56
562955,2012-10-01,2012-10-31,30,county,5,332,f,"Orange County, CA",NaN,California,...,0.117090,0.240882,0.010939,-0.055821,0.547945,0.029857,0.274766,"Anaheim, CA",11244.0,2022-01-09 14:29:56